---
import '../styles/global.css';
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <slot />
    <script is:inline>
      if (window.location.hash.includes('invite_token') ||
          window.location.hash.includes('recovery_token')) {
        window.location.href = '/admin/' + window.location.hash;
      }
    </script>
  </body>
</html>
